body, html {
  width: 100%;
  height: auto;
  text-align: left;
  float: left;
  background-color: black;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  position: relative;
  letter-spacing: .01rem;
}

h1 {
  font-size: 20px;
}

.title-wrapper {
  margin-top: 2rem;
  text-align: center;
  color: white;
}
